/* body{
    overflow-x: hidden;
    position: relative;
}

.takeTwo-navbar{
    background-color:black;
    position: fixed;
    transition: background 0.3 linear;
}

.searchItem{
    background-color: white;
    border: ;
} */

/* .watchlistHeading{
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(white);

} */

.movies-container{
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;

}

/* .col{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.col{
    width: 100%;
    height: 100%;
    object-fit: cover;

} */

.col img:hover{
    transform: translateY(-10px);
    transition: 0.2 all linear;
}
